body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header {
    background-color: #262728;;
}
.container {
    width: 1060px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo {
    text-align: left;
}
.nav {
    display: flex;
    text-align: center;
    list-style-type: none;
}
.info {   
    text-align: right;;
}

.banner {
    text-align: center;
}

.logo__name {
    color: #e1942a;
    text-decoration: none;
}
.info__tel{
    color: #fff;

}
.info__work-time {
    color: #e1942a;
}

